OPENWEATHER_API_KEY=pon_aqui_tu_clave
API_URL=http://localhost:8000
TARIFA_9CU_MXN_KWH=0.76
DB_SERVER=localhost\SQLEXPRESS
DB_NAME=bawi
DB_DRIVER=ODBC Driver 18 for SQL Server
DB_USER=
DB_PASSWORD=
SECRET_KEY=pon_aqui_una_clave_larga